<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="taglib.html :: head"></th:block>
    </head>
    <body>
        <div id="layoutError">
            <div id="layoutError_content">
                <th:block th:inseret="error/bodys/401.html"></th:block>
            </div>
            <div id="layoutError_footer">
                <th:block th:insert="taglib.html :: footer"></th:block>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="@{/js/scripts.js}"></script>
    </body>
</html>
