<th:block layout:fragment="content" layout:decorate="~{authentication/layouts/index}">
	<main>
	    <div class="container">
	        <div class="row justify-content-center">
	            <div class="col-lg-5">
	                <div class="card shadow-lg border-0 rounded-lg mt-5">
	                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
	                    <div class="card-body">
	                        <form action="/handler_login_success" method="post">
	                            <div class="form-floating mb-3">
	                                <input class="form-control" id="inputEmail" type="text" placeholder="name@example.com" name="username"/>
	                                <label for="inputEmail">Email address</label>
	                            </div>
	                            <div class="form-floating mb-3">
	                                <input class="form-control" id="inputPassword" type="password" placeholder="Password" name="password"/>
	                                <label for="inputPassword">Password</label>
	                            </div>
	                            <div class="form-check mb-3">
	                                <input class="form-check-input" id="inputRememberPassword" type="checkbox" name="remember-me" />
	                                <label class="form-check-label" for="inputRememberPassword">Remember Password</label>
	                            </div>
	                            <div class="d-flex flex-column align-items-center justify-content-between mt-4 mb-0">
	                                <button type="submit" class="w-100 btn btn-primary btn-lg mb-2">Login</button>
	                                <a class="small" href="password.html">Forgot Password?</a>
	                            </div>
	                            <h4 class="text-center my-4">--OR--</h4>
                            	<a style="opacity: 0.9" class="w-100 btn btn-danger btn-lg mb-3" th:href="@{/oauth2/authorization/google}">
                            		<i class="fab fa-google"></i> Login with Google
                            	</a>
                            	
                            	<a style="opacity: 0.9" class="w-100 btn btn-primary btn-lg mb-3" th:href="@{/oauth2/authorization/facebook}">
                            		<i class="fab fa-facebook-f"></i> Login with Facebook
                            	</a>
	                            
	                            <a class="w-100 btn btn-dark btn-lg mb-3" th:href="@{/oauth2/authorization/github}">
                            		<i class="fab fa-github"></i> Login with Github
                            	</a>
                            	
                            	<a class="w-100 btn btn-dark btn-lg" th:href="@{/oauth2/authorization/yahoo}" style="background-color: #3e22b3">
                            		<i class="fab fa-yahoo"></i> Login with Yahoo
                            	</a>
	                        </form>
	                    </div>
	                    <div class="card-footer text-center py-3">
	                        <div class="small"><a href="/register">Need an account? Sign up!</a></div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</main>
</th:block>