<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    	<th:block th:insert="taglib.html :: head"></th:block>
        <!-- Favicon-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="@{/css/styles.css}" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="@{/assets/favicon.ico}" />
    </head>
    <body>
        <!-- Responsive navbar-->
		<th:block th:insert="website/fragments/navbar.html :: navbar"></th:block>
        <!-- Page Content-->
		<th:block layout:fragment="content"></th:block>
        <!-- Footer-->
        <th:block th:insert="website/fragments/footer.html"></th:block>
        <!-- Bootstrap core JS-->
        <th:block th:insert="taglib.html :: link_js"></th:block>
    </body>
</html>
